@import './vars';

@mixin layout-width {
  @media (max-width: (1440px)) {
    @content;
  }
}

@mixin extra-large {
  @media (max-width: (1200px)) {
    @content;
  }
}

@mixin large {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin medium {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin small {
  @media (max-width: (420px)) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

@mixin font-h1() {
  color: var(--dark-shade);
  font-weight: 700;
  font-size: 24px;
  font-family: var(--main-font);
  line-height: 29px;
}

@mixin font-h2() {
  color: var(--dark-shade);
  font-weight: 700;
  font-size: 19px;
  font-family: var(--main-font);
  line-height: 23px;
}

@mixin font-h3() {
  color: var(--dark-shade);
  font-weight: 700;
  font-size: 12px;
  font-family: var(--main-font);
  line-height: 15px;
  text-transform: uppercase;
}

@mixin font-body() {
  color: var(--dark-shade-75);
  font-weight: normal;
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 24px;
  text-transform: initial;
}

@mixin text-gradient {
  color: var(--purple);
  background: var(--gradient);
  background-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin material-icon($content) {
  position: absolute;
  font-weight: 400;
  font-size: 24px;
  font-family: var(--material-font);
  line-height: 24px;
  content: $content;
}

@mixin button-reset-style() {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

@mixin fieldset-reset-style() {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin ul-reset-style() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin tip-style() {
  position: absolute;
  width: auto;
  height: 8px;
  border-bottom: 2px solid var(--dark-shade-50);
  border-left: 2px solid var(--dark-shade-50);
  transform: rotate(-45deg);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  content: '';
  aspect-ratio: 1/1;
}

@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context) * 1rem;
}
